    .page-margin {
      margin-left: 15%;
      margin-right: 15%;
    }

    .container {
      display: flex;
      justify-content: space-between; /* 카드 사이의 간격을 균등하게 배치합니다. */
      flex-wrap: nowrap; /* 카드가 너비를 넘어가면 줄 바꿈하지 않도록 합니다. */
      /* border: 1px solid red; */
      margin-bottom: 0px;
    }

    .container .card {
      width: 210px; /* 카드의 너비를 조정합니다. */
      height: 250px;
      margin-right: 20px; /* 카드 사이의 간격을 조절합니다. */
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid black;
    }

    .container .card .content-margin {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .container .card .content-padding {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .container .card .content-row {
      display: flex; /* title과 작성일을 가로로 배치하기 위해 flex로 설정합니다. */
      justify-content: space-between; /* title과 작성일을 좌우로 분산 정렬합니다. */
      align-item: center;
    }

    .container .card .content-col {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .container .card .header-row {
      display: flex; /* title과 작성일을 가로로 배치하기 위해 flex로 설정합니다. */
      justify-content: space-between; /* title과 작성일을 좌우로 분산 정렬합니다. */
      align-item: center;
      border: solid black;
      border-width: 0 0 1px; /* border 적용할 위치 : 상 좌,우 하 순서 */
    }

    .container .card .header-col {
      display: flex;
      flex-direction: column; /* 내부 요소를 세로로 배치합니다. */
    }


    .font-bold {
      font-weight: bold;
      font-size: 14px;
    }

    .font-gray {
      font-size: 12px;
      font-color: gray;
    }
