#header {
  background-color: #DBEAFE;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: #f5b335;
  position: fixed !important;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
  z-index: 10;
}

.nav-up {
  top: -80px;
}

.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 9px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 9999;
  background-color: #FFFFFF;
}

.dropdown:hover .dropdown-options {
  display: grid;
  width: 180px;
  grid-auto-rows: min-content;
  gap: 8px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}