#header {
  background-color: #DBEAFE;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background-color:#DBEAFE;
  padding:50px;
  text-align:center;
  /*display: flex;*/
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}

.page-margin {
  margin-left: 15%;
  margin-right: 15%;
}