<div data-th-replace="header :: header">머리말</div>

<div class="wrapper-mos">
    <div id="sidenav" class="sidenav">
        <a data-th-href="@{${#session.getAttribute('loginUser') != null ? '/member/dashboard?no=' + #session.getAttribute('loginUser').memberNo : '/auth/login'}}"
           href="">대시보드</a>
        <div data-th-if="${session.loginUser != null}">
            <a data-th-href="@{'/member/mystudy?no=' + ${session.loginUser.memberNo}}" href="">My 스터디</a>
            <a data-th-href="@{/member/edit}" href="">회원 정보 수정</a>
            <a data-th-href="@{/member/myWriteCommentList}" href="">내가 쓴 글/댓글 보기</a>
        </div>
    </div>

    <div class="container-mystudy">  <!-- 부트스트랩 컨테이너 추가 -->
        <table class="table">  <!-- 부트스트랩 테이블 클래스 추가 -->
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                 <!-- 다른 필요한 열들도 추가할 수 있습니다 -->
            </tr>
            </thead>
            <tbody>
            <tr id="myTr" data-th-each="memberStudy : ${memberStudyList}" data-th-attr="data-studyNo=${memberStudy.studyDto.studyNo}, data-isFavorite=${memberStudy.favorites}" >
                <td th:classappend="${memberStudy.favorites} ? 'filled' : ''" id="favoriteTd" onclick="toggleFavorite(this)">
                    <i class="fas fa-star favorite-icon" ></i>
                </td>
<!--                 스터디 제목-->
                <td data-th-text="${memberStudy.studyDto != null ? memberStudy.studyDto.title : ''}"></td>
                <td data-th-text="${memberStudy.studyDto != null ? #dates.format(memberStudy.studyDto.startDate, 'yyyy-MM-dd') : ''}"></td>
                <td data-th-text="${memberStudy.studyDto != null ? #dates.format(memberStudy.studyDto.endDate, 'yyyy-MM-dd') : ''}"></td>
                <td>
                    <a data-th-href="@{'/member/viewMystudy?studyNo=' + ${memberStudy.studyDto.studyNo}}">
                        <button type="button" data-th-text="${memberStudy.stat}" class="btn btn-primary"></button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</div>  <!--    부트스트랩 컨테이너 닫기 -->

    <script data-th-inline="javascript">

        function toggleFavorite(icon) {
            // 아이콘의 부모 요소인 td를 찾아서 해당 요소에 filled 클래스를 토글하여 색이 채워지도록 함
            var td = icon;
            var isFavorite = td.classList.toggle('filled');

            // 즐겨찾기 상태를 서버에 업데이트하는 로직
            var memberNo = [[${session.loginUser.memberNo}]]; // 회원 번호
            var tr = td.parentNode; // 아이콘의 부모 tr 요소
            var studyNo = tr.getAttribute("data-studyNo"); // tr 요소에서 data-studyNo 속성 값 가져오기

            console.log("스터디번호: " + studyNo);

            $.ajax({
                url: '/member/addFavorites',
                type:'POST',
                contentType: 'application/json',
                data: JSON.stringify({ memberNo: memberNo, studyNo: studyNo, favorites: isFavorite }),
                success: function(response) {
                    if (response) {
                        console.log('즐겨찾기 상태 업데이트 성공');
                        $('#favoriteTd').addClass('filled');
                    }
                },
                error: function(error) {
                    console.error('즐겨찾기 상태 업데이트 실패:', error);
                }
            });


        }
    </script>

     부트스트랩 자바스크립트 추가 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>


</div>
<div data-th-replace="footer :: footer">꼬리말</div>
