<div data-th-replace="header :: header" xmlns:th="http://www.w3.org/1999/xhtml">머리말</div>

<div class="wrapper-mos">
    <div id="sidenav" class="sidenav">
        <a data-th-href="@{${#session.getAttribute('loginUser') != null ? '/member/dashboard?no=' + #session.getAttribute('loginUser').memberNo : '/auth/login'}}"
           href="">대시보드</a>
        <div data-th-if="${session.loginUser != null}">
            <a data-th-href="@{'/member/mystudy?no=' + ${session.loginUser.memberNo}}" href="">My 스터디</a>
            <a data-th-href="@{/member/edit}" href="">회원 정보 수정</a>
            <a data-th-href="@{/member/myWriteCommentList}" href="">내가 쓴 글/댓글 보기</a>
        </div>
    </div>

    <div class="container-mystudy">  <!-- 부트스트랩 컨테이너 추가 -->
        <table class="table">  <!-- 부트스트랩 테이블 클래스 추가 -->
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                 <!-- 다른 필요한 열들도 추가할 수 있습니다 -->
            </tr>
            </thead>
            <tbody>
            <tr id="myTr" data-th-each="memberStudy : ${memberStudyList}" data-th-attr="data-studyNo=${memberStudy.studyDto.studyNo}, data-isFavorite=${memberStudy.favorites}" >
                <td th:classappend="${memberStudy.favorites} ? 'filled' : ''" id="favoriteTd" onclick="toggleFavorite(this)">
                    <i class="fas fa-star favorite-icon" ></i>
                </td>
<!--                 스터디 제목-->
                <td data-th-text="${memberStudy.studyDto != null ? memberStudy.studyDto.title : ''}"></td>
                <td data-th-text="${memberStudy.studyDto != null ? #dates.format(memberStudy.studyDto.startDate, 'yyyy-MM-dd') : ''}"></td>
                <td data-th-text="${memberStudy.studyDto != null ? #dates.format(memberStudy.studyDto.endDate, 'yyyy-MM-dd') : ''}"></td>
                <td>
                    <form id="studyWithdraw" data-th-if="${memberStudy.status == 'S03-102'}" data-th-action="@{/member/updateStatus}" method="post">
                        <input type="hidden" name="no" data-th-value="${memberStudy.no}">
                        <input type="hidden" name="withDrawStatus" data-th-value="S03-106">
                        <button type="submit" class="btn btn-warning" data-th-text="스터디원"></button>
                    </form>
                    <form id="studyStatus" data-th-if="${memberStudy.status == 'S03-101'}" data-th-action="@{/member/studyManagement}" method="get">
                        <input type="hidden" name="studyNo" data-th-value="${memberStudy.studyDto.studyNo}">
                        <input type="hidden" name="status" data-th-value="${memberStudy.status}">
                        <button type="submit" class="btn btn-success" data-th-text="스터디장"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>  <!--    부트스트랩 컨테이너 닫기 -->

    <!-- 결과를 표시할 모달 -->
    <!-- Bootstrap 모달 -->
    <div class="modal fade" id="jsonResultModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-height: 70%; overflow-y: auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">스터디 신청 목록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="weight">
                    <!-- JSON 결과를 버튼으로 표시할 곳 -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        function closeModal() {
            // 모달 요소를 선택
            var modal = document.getElementById('jsonResultModal');

            // Bootstrap 모달 인스턴스를 가져온다
            var bootstrapModal = bootstrap.Modal.getInstance(modal);

            // 모달을 닫는다
            bootstrapModal.hide();
        }


        $(document).ready(function() {
            // 폼 제출 이벤트를 가로채기
            $('#studyWithdraw').submit(function(e) {
                e.preventDefault(); // 폼 기본 제출 방지

                // '탈퇴하시겠습니까?' 확인 대화상자 표시
                var confirmResult = confirm('탈퇴하시겠습니까?');

                var formDataJson = {
                    id: $('input[name="no"]').val(),
                    message: $('input[name="withDrawStatus"]').val()
                };

                if (confirmResult) {
                    // 사용자가 '확인'을 클릭하면, AJAX를 통해 폼 데이터를 서버로 전송
                    var actionUrl = $(this).attr('action'); // 폼 액션 URL
                    $.ajax({
                        url: actionUrl, // 서버 엔드포인트 URL
                        type: 'POST', // HTTP 요청 메소드
                        contentType: 'application/json',
                        data: JSON.stringify(formDataJson), // 폼 데이터 직렬화
                        success: function(response) {
                            // 요청 성공 시 처리 로직
                            alert('탈퇴 처리가 완료되었습니다.');
                        },
                        error: function(xhr, status, error) {
                            // 요청 실패 시 처리 로직
                            alert('오류가 발생했습니다. 다시 시도해주세요.');
                        }
                    });
                }
            });
        });

  $(document).ready(function() {
    var page = 0; // 페이지 번호 초기화
    var isLoading = false; // 현재 로딩 중인지 여부를 추적하는 플래그
    var isLastPage = false; // 마지막 페이지인지 확인하는 플래그

    $('#studyStatus').submit(function(e) {
      e.preventDefault(); // 폼 기본 제출 방지
      page = 0; // 페이지 번호를 0으로 초기화
      isLastPage = false; // 마지막 페이지 플래그 초기화
      $('.modal-body').empty(); // 모달 내용 초기화
      $('.modal-content').scrollTop(0);
      loadMembers(); // 멤버 로딩 함수 호출
    });

    function loadMembers() {
      if (isLoading || isLastPage) return; // 로딩 중이거나 마지막 페이지라면 요청하지 않음

      isLoading = true; // 로딩 상태로 변경
      var actionUrl = $('#studyStatus').attr('action'); // 폼 액션 URL

      // AJAX 요청
      $.ajax({
        url: actionUrl + '?page=' + page, // 페이지 번호를 쿼리 파라미터로 추가
        type: 'get',
        data: $('#studyStatus').serialize(), // 폼 데이터 직렬화
        success: function(response) {
          if (response.content.length === 0) {
            isLastPage = true; // 더 이상 로드할 페이지가 없음
          } else {
            page++; // 페이지 번호 증가
            // JSON 결과를 바탕으로 내용 추가
            $.each(response.content, function(index, item) {
              var defaultPhotoUrl = '/img/user2-160x160.jpg'; // 기본 사진 URL
              var photoUrl = item.photo ? item.photo : defaultPhotoUrl;
              var photo = $('<img>').attr('src', photoUrl).css({ 'width': '100px', 'height': '100px'});
              var container = $('<div>').css({'text-align': 'left', 'display': 'flex', 'flex-direction': 'column'});
              var memberName = $('<div>').text(item.memberName).css({'font-weight': 'bold'});
              var message = item.message ? $('<div>').text(item.message) : $('<div>').text("한 줄 소개가 없습니다.");
              var messageContainer = container.append(memberName).append(message);
              var contentWrapper = $('<div>').css({'display': 'flex', 'align-items': 'center'});
              contentWrapper.append(photo).append(messageContainer);

             // 버튼 클릭 시 공통으로 사용할 함수 정의
                        function updateMemberStatus(message) {
                          $.ajax({
                            url: '/member/updateStatus', // 실제 서버 엔드포인트로 변경
                            type: 'post',
                            contentType: 'application/json',
                            data: JSON.stringify({id: item.id, message: message}), // 올바른 형태로 데이터 전송
                            success: function(response) {
                              console.log('Success:', response);
                              location.reload(true);
                            },
                            error: function(xhr, status, error) {
                              console.error('Error:', error);
                            }
                          });
                        }

                        // '승인' 버튼 생성 및 이벤트 핸들러 설정
                        var acceptBtn = $('<button>')
                          .addClass('btn btn-primary m-2')
                          .text('승인')
                          .click(function() {
                            updateMemberStatus('S03-102');
                          });

                        // '거절' 버튼 생성 및 이벤트 핸들러 설정
                        var refuseBtn = $('<button>')
                          .addClass('btn btn-primary m-2')
                          .text('거절')
                          .click(function() {
                            updateMemberStatus('S03-105');
                          });

                           contentWrapper.append(acceptBtn).append(refuseBtn);

              $('.modal-body').append(contentWrapper); // 모달에 내용 추가
            });
            $('#jsonResultModal').modal('show'); // 모달 표시
          }
        },
        complete: function() {
          isLoading = false; // 로딩 상태 해제
        }
      });
    }

    // 스크롤 이벤트 처리
    $('.modal-content').scroll(function() {
    // 모달 내부에서 현재 스크롤 위치 + 모달 창의 높이가 모달 내용의 전체 높이보다 크거나 같을 때
    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight - 10) {
        loadMembers(); // 추가 멤버 로드 함수 호출
    }
});

    // 문서 준비가 완료되었을 때 최초 멤버 로드
<!--    loadMembers();-->
  });
    </script>





    <!--<div data-th-replace="member/mystudy-view :: modal(${memberStudyList})"></div>-->
    <script data-th-inline="javascript">

        function toggleFavorite(icon) {
            // 아이콘의 부모 요소인 td를 찾아서 해당 요소에 filled 클래스를 토글하여 색이 채워지도록 함
            var td = icon;
            var isFavorite = td.classList.toggle('filled');

            // 즐겨찾기 상태를 서버에 업데이트하는 로직
            var memberNo = [[${session.loginUser.memberNo}]]; // 회원 번호
            var tr = td.parentNode; // 아이콘의 부모 tr 요소
            var studyNo = tr.getAttribute("data-studyNo"); // tr 요소에서 data-studyNo 속성 값 가져오기

            console.log("스터디번호: " + studyNo);

            $.ajax({
                url: '/member/addFavorites',
                type:'POST',
                contentType: 'application/json',
                data: JSON.stringify({ memberNo: memberNo, studyNo: studyNo, favorites: isFavorite }),
                success: function(response) {
                    if (response) {
                        console.log('즐겨찾기 상태 업데이트 성공');
                        $('#favoriteTd').addClass('filled');
                    }
                },
                error: function(error) {
                    console.error('즐겨찾기 상태 업데이트 실패:', error);
                }
            });


        }
    </script>

     부트스트랩 자바스크립트 추가 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>


</div>
<div data-th-replace="footer :: footer">꼬리말</div>
