
<div class="wrapper-mos">

    <div id="sidenav" class="sidenav">
        <a data-th-href="@{'/member/dashboard?no=' + ${member.memberNo}}" href="">대시보드</a>
        <div data-th-if="${session.loginUser != null}">
            <a data-th-href="@{'/member/mystudy?no=' + ${session.loginUser.memberNo}}" href="">My 스터디</a>
            <a data-th-href="@{/member/edit}" href="">회원 정보 수정</a>
            <a data-th-href="@{/member/mywritelist}" href="">내가 쓴 글/댓글 보기</a>
        </div>
    </div>

    <div class="page-margin">
        <table border='1'>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>생성일</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="curriculum : ${wiki}" data-th-object="${curriculum}">
                <td data-th-text="*{wikiNo}">1</td>
                <td><a data-th-href="@{viewWiki(wikiNo=*{wikiNo})}" data-th-text="*{title}">변수</a></td>
                <td data-th-text="*{createDate}">2024-05-08</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-th-replace="footer::footer">꼬리말</div>
