<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>스터디 관리</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/member/mypage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<div id="sidenav" class="sidenav">
  <a data-th-href="@{'/member/view?no=' + ${member.memberNo}}" href="">대시보드</a>
  <a data-th-href="@{'/member/mystudy?no=' + ${member.memberNo}}" href="">My 스터디</a>
  <a data-th-href="@{/member/edit}" href="">회원 정보 수정</a>
</div>

<div class="container-mystudy">
  <table class="table">
    <thead>
    <tr>
      <th>타이틀</th>
      <th>이미지</th>
      <th>사용자 이름</th>
      <th>신청 메시지</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="memberStudy : ${memberStudyView}">
      <td data-th-text="${memberStudy.studyDto != null ? memberStudy.studyDto.title : ''}"></td>
      <td>
        <div class="rounded">
          <a data-th-href="@{'https://kr.object.ncloudstorage.com/mos/member/' + *{photo}}"
             data-th-if="*{photo}">
            <img class="rounded-circle" data-th-src="@{'https://kr.object.ncloudstorage.com/mos/member/' + *{photo}}"></a><br>
          <a data-th-unless="*{photo}" href='/img/user2-160x160.jpg'>
            <img class="rounded-circle" height='80px' src='/img/user2-160x160.jpg'></a><br>
        </div>
      </td>
      <td data-th-text="${memberStudy.memberDto.userName}"></td>
      <td data-th-text="${memberStudy.applyMsg}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>