.pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; /* 페이지 버튼과 상단 간격 조절 */
    }

    .pagination li {
      display: inline-block;
      margin-right: 5px; /* 페이지 버튼 간 간격 조절 */
    }

    .pagination li a {
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
    }

    .pagination li a.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }