<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
</head>
<div data-th-replace="header :: header"></div>
<div data-th-replace="admin/main-sidebar :: mainSideBar"></div>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div data-th-replace="code/list :: codeList"></div>


</div>
</div>
</body>
<div data-th-replace="footer :: footer"></div>
</html>


