.banner {
  /*border-radius: 40px;*/
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
  height: 250px;
  overflow: hidden;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.banner-title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.banner-subtitle {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}