.choose_login {
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  background-color: #DBEAFE;
/*  margin-left: 30%;
  margin-right: 30%;*/
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.login-option {
  text-align: center;
  margin: 0 40px; /* 각 로그인 옵션 사이의 간격을 조정할 수 있습니다. */
}