<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모두의스터디</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="page-margin">
<div data-th-replace="header::header">머리말</div>

  <form action="add" data-th-action="@{add}" method="post">
    <div>
      스터디는 어떻게 진행되나요? : <input name='method' type='text'>
    </div>
    <div>
      최대 정원을 정하시겠어요? (선택) : <input name='intake' type='text'>
    </div>
    <div>
      언제까지 모집하시겠어요? (선택) : <input name="recruitmentDeadline" type="date">
    </div>
    <div>
      스터디의 이름을 정해주세요! 여기서 입력하신 스터디 이름이 다른 이용자들에게 노출됩니다. <br> <input name="title" type="text">
    </div>
    <div>
      스터디에 대해서 설명해주세요 : <textarea name='introduction'></textarea>
    </div>
    <div>
      <button>스터디 등록하기!</button>
    </div>
  </form>


<div data-th-replace="footer::footer">꼬리말</div>
</div>
</body>
</html>