<div data-th-replace="header::header">머리말</div>

<div class="container page-margin wrapper-mos">
  <h1>스터디 모집 목록</h1>

  <style>
    #searchForm {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    #searchForm > div {
      margin-left: 10px; /* 각 요소 사이의 간격 조정 */
    }

    #type {
      width: 160px;
    }
  </style>

  <form action="/study/search" method="get" id="searchForm">
    <div>
      <label for="type"></label>
      <select name="type" id="type">
        <option value="">검색 유형 선택</option>
        <option value="title">제목</option>
        <option value="introduction">모집글 내용</option>
        <option value="tag">기술스택</option>
      </select>
    </div>
    <div>
      <label for="keyword"></label>
      <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요.">
    </div>
    <button type="submit">검색</button>
  </form>


  <table id="studyTable" class="table table-striped">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>스터디장</th>
      <th>정원</th>
      <th>방법</th>
      <th>마감일</th>
      <th>태그</th>
    </tr>
    </thead>
    <tbody>
    <!-- 여기에 JavaScript로 데이터를 삽입할 예정 -->
    </tbody>
  </table>
  <div class="text-center">
    <div id="loader" class="spinner-border text-primary" role="status" style="display: none;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="sentinel"></div>


</div>
<div data-th-replace="footer::footer">꼬리말</div>
