<div data-th-replace="header::header">머리말</div>

<div class="content-container page-margin wrapper-mos">
  <h1>스터디 모집 목록</h1>

  <!-- search css -->
  <link rel="stylesheet" href="/css/study/search.css">
  <link rel="stylesheet" href="/css/study/paging.css">

  <!-- search js -->
  <script src="/js/study/search.js"></script>

  <form action="/study/search" method="get" id="searchForm">
    <div class="search-container">
      <div>
        <label for="type"></label>
        <select name="type" id="type">
          <option value="title">제목</option>
          <option value="introduction">모집글 내용</option>
          <option value="tag">기술스택</option>
        </select>
      </div>
      <div>
        <label for="keyword"></label>
        <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요.">
      </div>
      <button type="submit" onclick="clearSearch()">검색</button>
    </div>
  </form>

  <table id="studyTable" class="table table-striped">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>스터디장</th>
      <th>정원</th>
      <th>방법</th>
      <th>마감일</th>
      <th>태그</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="study : ${studyList}" data-th-object="${study}">
      <td data-th-text="*{studyNo}">100</td>
      <td><a data-th-href="@{view(studyNo=*{studyNo})}" data-th-text="*{title}">OO스터디 모집합니다.</a>
      </td>
      <td data-th-text="*{memberNo}">스터디장</td>
      <td data-th-text="*{intake}">5</td>
      <td data-th-text="*{method}">오프라인</td>
      <td data-th-text="*{recruitmentDeadline}">2024-03-27</td>
      <td>
        <div data-th-each="tag : ${study.tagList}" data-th-object="${tag}">
          <a data-th-text="*{name}">Java</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <div id="loader" class="spinner-border text-primary" role="status" style="display: none;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="sentinel"></div>
  <!-- 페이징 처리 -->
  <div>
    <!-- 페이지 번호 버튼 -->
    <ul class="pagination" style="justify-content: center;">
      <li data-th-each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a data-th-href="@{/study/search(type=${type}, keyword=${keyword}, page=${pageNum})}"
           data-th-text="${pageNum}" data-th-class="${pageNum == currentPage} ? 'active'"></a>
      </li>
    </ul>
  </div>
</div>
<div data-th-replace="footer::footer">꼬리말</div>
