<div data-th-replace="header::header">머리말</div>
<div class="page-margin">


  <div th:object="${study}">


    <h1 th:text="*{title}"></h1>
    <a data-th-href="@{edit(studyNo=*{studyNo})}" href="delete.html">[편집]</a>
    <a data-th-href="@{delete(studyNo=*{studyNo})}" href="delete.html">[삭제]</a>

<!--    <a data-th-href="@{/wiki/list(studyNo=*{studyNo})}" href="/wiki/list.html">[이 스터디의 위키 보러가기]</a>-->

    <a data-th-href="@{/wiki/view(wikiNo=${firstWikiNo})}" href="/wiki/view.html">[이 스터디의 위키 보러가기]</a>

    <p> 스터디장 = <span th:text="*{memberNo}"> </span></p>
    <p> 진행방식 = <span th:text="*{method}"> </span></p>
    <p> 모집정원 = <span th:text="*{intake}"> </span></p>
    <p> 기술스택 =
      <span th:each="tag : ${study.tagList}">
        <span th:text="${tag.name}"></span>
    </span>
    </p>
    <p> 모집마감 = <span th:text="*{recruitmentDeadline}"> </span></p>
    <p> 예상종료일 = <span th:text="*{endDate}"> </span></p>
    <p> 소개 <div th:attr="introduction = ${study.introduction}"> </div></p>
    <div id="viewer">
      <strong>Viewer Here</strong>
    </div>
    <div data-th-if="*{stat != '종료' && stat != '모집완료'}">
      <button id="applyStudyBtn" data-toggle="modal" data-target="#applyModal">신청하기</button>
    </div>

    <!--신청하기 모달창-->

    <!-- 모달창 -->
    <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="applyModalLabel">스터디 신청</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="applyForm">
              <input id="studyNo" name="studyNo" type="hidden" data-th-value="*{studyNo}" value="5">
              <div class="form-group">
                <label for="applyMsg">신청 메시지</label>
                <textarea class="form-control" id="applyMsg" rows="3" placeholder="스터디장에게 보낼 메시지를 입력해주세요!"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" id="submitApplyBtn">신청하기</button>
          </div>
        </div>
      </div>
    </div>

    <!--스터디 신청 자바스크립트-->
    <script>
      $('#submitApplyBtn').click(function() {
        var applyMsg = $('#applyMsg').val();
        var studyNo = $('#studyNo').val();

        // AJAX 요청을 통해 서버로 데이터 전송
        $.ajax({
          url: '/study/applyStudy', // 수정된 URL 입력
          type: 'POST',
          data: {
            applyMsg: applyMsg,
            studyNo: studyNo
          },
          success: function(response) {
            // 성공적으로 처리된 경우
            console.log(response);
            $('#applyModal').modal('hide'); // 모달창 닫기
            // 필요한 경우 추가 작업 수행
          },
          error: function(error) {
            // 오류 발생 시 처리
            console.error(error);
          }
        });
      });
    </script>


        <script>
            var content = document.querySelector('[introduction]').getAttribute('introduction');
            const viewer = toastui.Editor.factory({
                el: document.querySelector('#viewer'),
                viewer: true,
                initialValue: content
            });
        </script>

        <!-- 알림 기능 -->
        <form id="notificationForm" action="#" th:action="@{/noti/save}" method="post">
            <div>
                <input type="hidden" name="recipientId" th:value="${study.memberNo}">
            </div>
            <div>
                <input type="hidden" name="message" th:value="${study.title + '글에 댓글이 달렸습니다!'}">
            </div>
            <div>
                <input type="hidden" name="link" th:value="@{'/study/view?studyNo=' + ${study.studyNo}}">
            </div>
        </form>
        <!--댓글추가 기능 시작-->
        <form id="commentForm" th:action="@{/comment/study/add}" method="post">
            <p>
                <input type="hidden" name="studyNo" th:value="${study.studyNo}">
                <!--      이 부분은 로그인 기능 구현 이후에 세션으로 처리하기-->
                <!--      POST 방식으로 userNo를 넘기지 말 것-->
                <input type="number" name="memberNo" placeholder="(개발용) member_no 입력">
            </p>
            <p>
                <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
            </p>
            <button id="submitBtn" type="button">댓글 등록</button>
        </form>

    <script>
      // JavaScript
      document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('submitBtn').addEventListener('click', function(e) {
              e.preventDefault(); // 기본 폼 제출 방지

              // 댓글 폼 데이터 수집
              var commentForm = document.getElementById('commentForm');
              var formData = new FormData(commentForm);

              // 댓글 데이터 서버에 전송
              fetch(commentForm.getAttribute('action'), {
                  method: 'POST',
                  body: formData
              })
              .then(response => {
                  if(response.ok) {
                      return response.json();
                  } else {
                      throw new Error('댓글 등록 실패');
                  }
              })
              .then(data => {
                  console.log('댓글 등록 성공:', data);

                  // 알림 폼 데이터 수집 및 전송
                  var notificationForm = document.getElementById('notificationForm');
                  var notificationData = new FormData(notificationForm);

                  return fetch(notificationForm.getAttribute('action'), {
                      method: 'POST',
                      body: notificationData
                  });
              })
              .then(response => {
                  if(response.ok) {
                      return response.json();
                  } else {
                      throw new Error('알림 전송 실패');
                  }
              })
              .then(data => {
                  console.log('알림 전송 성공:', data);
                  // 여기에 성공 시 처리 로직 추가
                   window.location.reload(); // 페이지 새로고침
              })
              .catch((error) => {
                  console.error('Error:', error);
                  // 에러 처리 로직
              });
          });
      });
    </script>
    <!--댓글추가 기능 끝-->
    <!--댓글 리스트 기능 시작-->
  </div>
  <div th:if="${#lists.isEmpty(studyComments)}">
    <p>아직 댓글이 없어요.</p>
  </div>
  <div th:each="comment : ${studyComments}" th:if="${comment.stat} != '삭제'"
       style="border: 1px solid #000;">
    <p>
      <a th:href="@{/comment/study/delete(commentNo=${comment.commentNo}, studyNo=${comment.studyNo})}"
         href="#">[삭제]</a>
      <button
          th:onclick="'editComment(this, ' + ${comment.commentNo} + ', ' + ${comment.studyNo} + ');'"
          th:text="'편집'"></button>
    </p>
    <p>
      <span th:text="${comment.username}"/>
      <span th:text="${comment.createdDate}"/>
    </p>
    <div class="comment-content" th:id="'comment-' + ${comment.commentNo}">
      <span th:text="${comment.content}"></span>
    </div>
    <input type="text" class="comment-input" th:id="'comment-input-' + ${comment.commentNo}"
           th:value="${comment.content}" style="display: none;">
    <div class="button-group" style="display: none;" th:id="'button-group-' + ${comment.commentNo}">
      <button class="save-btn" th:id="'save-btn-' + ${comment.commentNo}"
              th:onclick="'saveComment(' + ${comment.commentNo} + ', ' + ${comment.studyNo} + ');'">
        저장
      </button>
      <button class="cancel-btn" th:onclick="'cancelEdit(' + ${comment.commentNo} + ');'">취소
      </button>
    </div>
  </div>
  <!--댓글 리스트 기능 끝-->

  <script>
    function editComment(element, commentNo, studyNo) {
      var commentContent = document.getElementById('comment-' + commentNo);
      var commentInput = document.getElementById('comment-input-' + commentNo);
      var buttonGroup = document.getElementById('button-group-' + commentNo);

      commentContent.style.display = 'none';
      commentInput.style.display = 'inline';
      buttonGroup.style.display = 'inline';
    }

    function saveComment(commentNo, studyNo) {
      var commentInput = document.getElementById('comment-input-' + commentNo);
      var newContent = commentInput.value;

      // TODO: 서버에 업데이트 요청 보내기
      // ...

      location.reload(); // 페이지 새로고침
    }

    function cancelEdit(commentNo) {
      var commentContent = document.getElementById('comment-' + commentNo);
      var commentInput = document.getElementById('comment-input-' + commentNo);
      var buttonGroup = document.getElementById('button-group-' + commentNo);

      commentContent.style.display = 'inline';
      commentInput.style.display = 'none';
      buttonGroup.style.display = 'none';
    }
  </script>


</div>
<div data-th-replace="footer::footer">꼬리말</div>
