    body {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }

#sidenav {
    position: fixed;
    width: 220px;
    height: calc(100% - 100px); /* 헤더의 높이만큼 빼줍니다 */
    top: 100px; /* 헤더의 아래에 위치하도록 조정합니다 */
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #f8f9fa; /* 필요에 따라 배경색 조정 */
    border-right: 1px solid #dee2e6; /* 구분선 추가 */
}

 #sidenav a {
     padding: 10px 15px;
     text-decoration: none;
     font-size: 18px;
     color: #000; /* 필요에 따라 텍스트 색상 조정 */
     display: block;
 }

#sidenav a:hover {
    background-color: #e9ecef; /* 호버 효과 추가 */
}
    #dashboard {
     margin-left: 20%;
     padding: 10px 10px 20px 20px;
     font-size: 18px;
    }

    .rounded {
    float: left;
    }

    li {
    margin: 10px;
    }

    #profile {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      list-style: none;

    }
    #profile-2 {
    padding-top: 40px;
    }
    .txt {
    display:flex;
    }

    .bio {
    width: 600px;
    height: 200px;
    border: 2px solid black ;
    border-radius: 20px;
    text-align: center;
    }
