<!DOCTYPE html>
<html lang="ko">
<div class="choose_login">

    <img src="/img/logo_text.png">

    <div class="modal-container" id="authmodal">
        <div class="login-option">
            <a id="githubLink"
               data-th-href="@{'https://github.com/login/oauth/authorize?client_id=' + ${clientId} + '&scope=user:email'}">
                <img src="/img/github_logo.png">
                <p>Github 로그인</p>
            </a>
            <a id="kakaoLink" data-th-href="@{${kakaoUrl}}">
                <img src="/img/kakao_logo.png">
                <p>Kakao 로그인</p>
            </a>
            <a id="googleLink" data-th-href="@{${googleUrl}}">
                <img src="/img/google_logo.png">
                <p>Google 로그인</p>
            </a>
            <a id="naverLink" data-th-href="@{${naverUrl}}">
                <img src="/img/naver_logo.png">
                <p>Naver 로그인</p>
            </a>
            <!-- 툴팁 -->
            <div id="tooltipM" role="tooltip" data-popper-placement="top" style="display: none">
                최근 로그인
                <div id="arrowM" data-popper-arrow></div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/auth/form.js"></script>
</html>
