<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>모두의스터디</title>
  <link rel="stylesheet" href="/css/auth/styles.css">
</head>
<body>

<div class="choose_login">

    <img src="/img/logo_text.png">

  <div class="container">
    <div class="login-option">
      <a data-th-href="@{'https://github.com/login/oauth/authorize?client_id=' + ${clientId} + '&scope=user:email'}">
        <img src="/img/github_logo.png">
        <p>Github 로그인</p>
      </a>
    </div>
    <div class="login-option">
      <a data-th-href="@{${kakaoUrl}}">
        <img src="/img/kakao_logo.png">
        <p>Kakao 로그인</p>
      </a>
    </div>
    <div class="login-option">
      <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=67002553427-sc7ahp4ipvlana671ubte3o3j0g6fug6.apps.googleusercontent.com&redirect_uri=http://localhost:8888/login/oauth2/code/google&response_type=code&scope=email">
      <img src="/img/google_logo.png">
      <p>Google 로그인</p>
      </a>
    </div>
  </div>
</div>

</body>

</html>
