<div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header" role="tablist">
        <div class="step" data-target="#test-l-1">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger1"
                    aria-controls="test-l-1">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">기본정보 등록</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger2"
                    aria-controls="test-l-2">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">활동지역 등록</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger3"
                    aria-controls="test-l-3">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Validate</span>
            </button>
        </div>
    </div>

    <div class="bs-stepper-content">
        <form novalidate>
            <div id="test-l-1" role="tabpanel" class="content" aria-labelledby="stepper1trigger1">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" data-th-if="${session.loginUser != null}" data-th-value="${session.loginUser.email}" required>
                    <label for="exampleInputEmail1">닉네임</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="stepper1.next()">Next</button>
            </div>
            <div id="test-l-2" role="tabpanel" class="content" aria-labelledby="stepper1trigger2">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a password
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="stepper1.previous()">Previous</button>
                <button type="button" class="btn btn-primary" onclick="stepper1.next()">Next</button>
            </div>
            <div id="test-l-3" role="tabpanel" class="content text-center" aria-labelledby="stepper1trigger3">
                <div class="valid-feedback">
                    Form Looks good!
                </div>
                <div class="invalid-feedback">
                    Form invalid
                </div>
                <button type="button" class="btn btn-primary mt-5" onclick="stepper1.previous()">Previous</button>
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>
        </form>
    </div>
</div>
<!-- BS-Stepper -->
<!--<script src="/plugins/bs-stepper/js/bs-stepper.min.js"></script>-->
