<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>모두의스터디</title>
  <link rel="stylesheet" href="/css/auth/signup.css">
</head>
<body>

<div data-th-replace="header::header">머리말</div>

<div class="page-margin">
  <div class="container content-margin" >
    <form id="signupForm" action="/auth/signup2" data-th-action="@{/auth/signup2}" method="post">
      <div class="title-margin">
        <p class="title-font">Mos에 오신 것을 환영합니다!<br>스터디 활동에 사용하실 닉네임을 설정해주세요!</p>
      </div>
      <div class="name-area">
        <div class="name-font">닉네임:</div>
        <input name="username" data-th-value="${username}" type="text" class="text-size" id="usernameInput">
        <button type="button" onclick="checkUsername()">중복확인</button>
      </div>
      <div id="message" class="message"></div>
      <div class="button-margin">
        <button id="nextButton" class="button-size" type="submit" disabled>다음</button>
      </div>
    </form>
  </div>
</div>

<script>
  function checkUsername() {
    var form = document.getElementById('signupForm');
    var usernameInput = document.getElementById('usernameInput');
    var username = usernameInput.value;
    var messageDiv = document.getElementById('message');
    var nextButton = document.getElementById('nextButton');

    // 사용자가 닉네임을 입력하지 않은 경우
    if (username.trim() === '') {
        messageDiv.textContent = '닉네임을 입력해주세요.';
        messageDiv.classList.add('error');
        messageDiv.classList.remove('success');
        nextButton.disabled = true;
        return;
    }

    // 서버로 요청하여 username 검사
    fetch('/auth/checkUsername?username=' + username)
        .then(response => response.text())
        .then(data => {
            if (data === 'duplicate') {
                messageDiv.textContent = '닉네임이 중복되었습니다.';
                messageDiv.classList.add('error');
                messageDiv.classList.remove('success');
                nextButton.disabled = true;
            } else {
                messageDiv.textContent = '사용 가능한 닉네임입니다.';
                messageDiv.classList.add('success');
                messageDiv.classList.remove('error');
                nextButton.disabled = false;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

</script>

<div data-th-replace="footer::footer">꼬리말</div>
</body>
</html>