<div th:replace="header::header">머리말</div>
<link rel="stylesheet" href="/css/wiki/edit.css">

<div class="container-fluid">
  <div class="row justify-content-center flex-nowrap">
    <!-- 비동기 갱신되는 중앙 컨텐츠 영역 -->

    <!-- 왼쪽 nav : 스터디의 위키 리스트(커리큘럼) -->
    <nav id="resizable" class="resizable-column sidebar-left border">
      <div>
        <button class="btn btn-primary btn-block align-middle" id="addRootNode">
          <i class="far fa-file-alt"></i> <span> + </span>
        </button>
        <div id="wikiTree">
          <ul>
            <li>
              불러오는 중입니다.
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main col mx-auto">
      <div class>
        <div>
          <h1 id="contentTitle"></h1>
          <!-- 조회 모드로 전환함-->
          <a class="btn btn-primary" id="contentEditLink" href="editWiki.html"><i
              class="fas fa-eye"></i></a>
          <!--        <a id="contentDeleteLink" href="delete.html">[삭제]</a>-->

          <!--          <div> 이 위키가 작성된 스터디 = <a th:href="@{/study/view(studyNo=*{studyNo})}"> <span>방문하기</span>-->

        </div>
        <!--        <div> 작성자 = <span id="author">회원 이름</span></div>-->
        <!--        <div> 작성일 = <span id="createdDate">작성일</span></div>-->
        <!--        <div> 마지막 편집일 = <span id="updatedDate">마지막 편집일</span></div>-->
        <!--          <div th:attr="content = *{content}"></div>-->
      </div>
      <div id="content"></div>
      <div id="viewer">
        <strong>Viewer Here</strong>
      </div>

      <div id="status">
      </div>
    </div>


  </div>

</div>

<!--js-->
<!-- for resizable column -->
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/hot-sneaks/jquery-ui.css"/>
<script src="/js/wiki/jqueryui-resiazble.js"></script>
<!--loginUser to var-->
<script th:inline="javascript">
  /*<![CDATA[*/
  var loginUser = /*[[${loginUser}]]*/ 0;
  console.log(loginUser.userName);
  console.log(loginUser.memberNo);
  /*]]>*/
</script>
<!--jstree-->
<!--<link rel="stylesheet" href="/plugins/jstree/themes/default/style.css">-->
<script src="/plugins/jstree/jstree.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>

<!--jstree-edit-->
<script src="/js/wiki/wikitree-edit.js"></script>
<!--bootstrap-toc-->
<link rel="stylesheet" href="/plugins/bootstarp-toc/bootstrap-toc.css">
<script src="/plugins/bootstarp-toc/bootstrap-toc.js"></script>
<!--asyncComment(코멘트 처리를 위한 js)-->
<script src="/js/comment/asyncComment.js"></script>
<!--moment.js(날짜관련 라이브러리)-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!--toastr(토스트알림 라이브러리)-->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<div th:replace="footer::footer">꼬리말</div>