<div th:replace="header::header">머리말</div>
<!--<div class="page-margin wrapper-mos">-->
<div class="page-margin">
  <!-- jstree -->
  <!--  <button id="add">최상단 노드 추가</button>-->
  <!--  <button id="patch">선택한 노드 제목 변경</button>-->
  <!--  <button id="delete">선택한 노드 삭제</button>-->
  <div id="wikiTree">
  </div>


  <script src="/plugins/jstree/jstree.js"></script>
  <link rel="stylesheet" href="/plugins/jstree/themes/default/style.css">
  <script src="/js/wiki/jstreeTest.js"></script>
</div>
<div th:replace="footer::footer">꼬리말</div>