<html lang='en'
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='UTF-8'>
  <title>모두의스터디</title>
  <link href="/css/styles.css" rel="stylesheet">
  <style>
    .indent-0 {
      /* 들여쓰기가 필요 없는 경우 */
      font-weight: normal; /* 기본 글꼴 강도 */
    }

    .indent-1 {
      /* 첫 번째 레벨의 들여쓰기 */
      margin-left: 10px;
      font-weight: bold; /* 굵은 글꼴 */
    }

    .indent-2 {
      /* 두 번째 레벨의 들여쓰기 */
      margin-left: 20px;
      font-style: italic; /* 이탤릭체 */
    }

    .indent-3 {
      /* 세 번째 레벨의 들여쓰기 */
      margin-left: 30px;
      font-weight: bold; /* 굵은 글꼴 */
      font-style: italic; /* 이탤릭체 */
    }

    /* 필요한 만큼 더 추가 가능 */
  </style>
</head>
<body>
<div class="page-margin">
  <div th:replace="header::header">머리말</div>
  <h1>위키 리스트 확인</h1>
  <ul>
    <li th:class="'indent-' + ${wiki.layer}" th:each="wiki : ${wikis}">
      <a href="wiki/viewWiki"
         th:href="@{/wiki/viewWiki(wikiNo=*{wiki.wikiNo})}">
        <span th:text="${wiki.title}">리스트</span></a>
    </li>
  </ul>

  <div th:replace="footer::footer">꼬리말</div>
</div>
<!--<script>-->
<!--  console.dir('[[${study}]]')-->
<!--</script>-->
</body>
</html>