<div data-th-replace="header::header">머리말</div>
<style>
    body {
        background: #f8f9fa;
    }


</style>
<div class="content-container page-margin wrapper-mos">
    <h2>모두의 위키 목록</h2>

    <div class="HomeLayout_block">
        <div class="HomeLayout_innerBlock">
            <div class="HomeLayout_mainWrapper">
                <ul class="PostCardGrid_block grid_homeGrid">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="loader"></div>
<script type="module" src="/js/wiki/index.js"></script>
<div data-th-replace="footer::footer">꼬리말</div>
