<html lang='en'
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='UTF-8'>
  <title>모두의스터디</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="page-margin">
  <div data-th-replace="header::header">머리말</div>

  <div th:object="${wiki}">
    <h1 th:text="*{title}"></h1>
    <a data-th-href="@{/wiki/editWiki(wikiNo=*{wikiNo})}" href="edit.html">[편집]</a>
    <br>
    <a data-th-href="@{/wiki/list(studyNo=*{studyNo})}" href="list.html">[리스트로 돌아가기]</a>

    <p> 이 위키가 작성된 스터디 = <a th:href="@{/study/view(studyNo=*{studyNo})}"> <span>방문하기</span> </a></p>
    <p> 제목 = <span th:text="*{title}">제목</span></p>
    <p> 작성자 = <span th:text="*{username}">회원 이름</span></p>
    <p> 작성일 = <span th:text="*{contentCreatedDate}">작성일</span></p>
    <p> 마지막 편집일 = <span th:text="*{contentUpdatedDate}">마지막 편집일</span></p>
    <p> 내용 <pre style="border: 1px solid black; /* 테두리 스타일과 색상 설정 */
    padding: 10px; /* 내부 여백 설정 */" th:text="*{content}">내용</pre></p>
    <p> 좋아요 수 : <span th:text="*{likes}">좋아요수</span></p>
    <br>
    <a data-th-href="@{delete(wikiNo=*{wikiNo})}" href="delete.html">[삭제]</a>

  </div>

  <div data-th-replace="footer::footer">꼬리말</div>
</div>
<!--<script>-->
<!--  console.dir('[[${study}]]')-->
<!--</script>-->
</body>
</html>