<div th:replace="header::header">머리말</div>
<link rel="stylesheet" href="/css/wiki/view.css">
<div class="container-fluid">
  <div class="row justify-content-center flex-nowrap">
    <!-- 비동기 갱신되는 중앙 컨텐츠 영역 -->

    <!-- 왼쪽 nav : 스터디의 위키 리스트(커리큘럼) -->
    <nav id="resizable" class="resizable-column sidebar-left border">
      <div class="tree-btn-wrapper" th:if="${authorized}">
        <a class="btn btn-outline-info tree-btn" id="contentEditLink"
           href="editWiki.html">
          <i class="fas fa-edit"></i> 편집
        </a>
      </div>
      <div>
        <!--TODO: study 제목을 보여주기-->
        <div id="wikiTree">
          <ul>
            <li>
              불러오는 중입니다.
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main col mx-auto">
      <div class="wiki-header">
        <h1 id="contentTitle"></h1>
        <div id="createdDate">작성일</div>
      </div>

      <div id="content"></div>
      <div id="viewer">
        <strong>Viewer Here</strong>
      </div>


      <i class="fas fa-heart" onclick="toggleLike(this)"></i>
      <!--좋아요-->
      <span id="contentLikes">️</span>

      <div>
        <div id="writer-container">
          <img id="profile-image" class="rounded-circle">
          <div id="author">회원 이름</div>
        </div>
      </div>

      <!-- comment 영역-->
      <hr class="my-4 bg-primary">
      <div class="row">

        <div class="commentForm">
          <div class="form-group">
            <textarea class="form-control comment-input" id="commentContent"
                      placeholder="댓글을 입력하세요"></textarea>
            <button class="btn btn-primary comment-submit" id="submitComment">등록</button>
          </div>
        </div>

        <div class="commentList">
          <!-- 댓글을 이 영역에 비동기로 만들어주기 -->
        </div>

      </div>
      <!-- comment 영역 끝-->
    </div>
    <div class="nomain col mx-auto"></div>


    <!-- 오른쪽 nav : Wiki's ToC -->
    <nav class="sidebar-right col-2">
      <nav id="toc" data-toggle="toc" class="overflow-auto sticky"></nav>
    </nav>


  </div>


</div>
<!--js-->
<!-- for resizable column -->
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/hot-sneaks/jquery-ui.css"/>
<script src="/js/wiki/jqueryui-resiazble.js"></script>
<!--loginUser to var-->
<script th:inline="javascript">
  /*<![CDATA[*/
  const loginUser = /*[[${loginUser}]]*/ 0;
  /*]]>*/
  /*<![CDATA[*/
  const authorized = /*[[${authorized}]]*/ false;
  /*]]>*/
</script>
<!--jstree-->
<!--<link rel="stylesheet" href="/plugins/jstree/themes/default/style.css">-->
<script src="/plugins/jstree/jstree.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>

<!--jstree-view-->
<script src="/js/wiki/wikitree-view.js"></script>
<!--bootstrap-toc-->
<link rel="stylesheet" href="/plugins/bootstarp-toc/bootstrap-toc.css">
<script src="/plugins/bootstarp-toc/bootstrap-toc.js"></script>
<!--asyncComment(코멘트 처리를 위한 js)-->
<script src="/js/comment/asyncComment.js"></script>
<!--moment.js(날짜관련 라이브러리)-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div th:replace="footer::footer">꼬리말</div>