<div th:replace="header::header">머리말</div>
<div class="page-margin">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- 왼쪽 nav : 스터디의 위키 리스트(커리큘럼) -->
      <div class="navbar-nav d-flex flex-column">
        <a th:each="wiki : ${wikiList}" th:href="@{/wiki/view(wikiNo=${wiki.wikiNo})}" href=""><div class="nav-link" href="" th:text="${wiki.title}">Left Nav Item</div></a>
      </div>

      <!-- 가운데 nav Wiki's Content -->
      <div>
        <div th:object="${wikiDto}">
          <h1 th:text="*{title}"></h1>
          <a data-th-href="@{/wiki/editWiki(wikiNo=*{wikiNo})}" href="edit.html">[편집]</a>
          <a data-th-href="@{delete(wikiNo=*{wikiNo})}" href="delete.html">[삭제]</a>


          <p> 이 위키가 작성된 스터디 = <a th:href="@{/study/view(studyNo=*{studyNo})}"> <span>방문하기</span> </a></p>
          <p> 작성자 = <span th:text="*{username}">회원 이름</span></p>
          <p> 작성일 = <span th:text="*{contentCreatedDate}">작성일</span></p>
          <p> 마지막 편집일 = <span th:text="*{contentUpdatedDate}">마지막 편집일</span></p>
          <div th:attr="content = *{content}"> </div>
          <div id="viewer">
            <strong>Viewer Here</strong>
          </div>


          <p> 좋아요 수 : <span th:text="*{likes}">좋아요 수</span></p>

        </div>
        <!--  toast ui editor-->
        <script>
          var content = document.querySelector('[content]').getAttribute('content');
          const viewer = toastui.Editor.factory({
            el: document.querySelector('#viewer'),
            viewer: true,
            initialValue: content
          });
        </script>
      </div>

      <!-- 오른쪽 nav : Wiki's ToC -->
      <div class="navbar-nav d-flex flex-column">
        <a><div class="nav-link" href="#">Right Nav Item</div></a>
      </div>
    </div>
  </nav>

</div>
<div th:replace="footer::footer">꼬리말</div>
