<!DOCTYPE html>
<html lang="en" data-th-fragment="nearby_study">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="page-margin">

<h2>내 주변 스터디</h2>

<div class="container">
  <div class="card">
    <div class="header-row content-padding">
      <div class="header-col">
        <div class="font-bold">웹</div>
        <div class="font-gray">작성일 : 2024-03-05</div>
      </div>
      <div>
        <img src="/img/code/online.png">
      </div>
    </div>

    <div class="content-margin content-col">
      <div class="font-bold">웹 개발 기초를 같이 배워갈 스터디원 모집합니다!!</div>
      <div>
        <img src="/img/tag/java.png">
        <div class="font-gray">#웹</div>
        <div class="font-gray">JunTR</div>
      </div>
      <div class="content-row">
        <div class="font-bold">모집인원 4/5</div>
        <div class="font-gray">마감일: 2024-05-08</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header-row content-padding">
      <div class="header-col">
        <div class="font-bold">웹</div>
        <div class="font-gray">작성일 : 2024-03-05</div>
      </div>
      <div>
        <img src="/img/code/online.png">
      </div>
    </div>

    <div class="content-margin content-col">
      <div class="font-bold">웹 개발 기초를 같이 배워갈 스터디원 모집합니다!!</div>
      <div>
        <img src="/img/tag/java.png">
        <div class="font-gray">#웹</div>
        <div class="font-gray">JunTR</div>
      </div>
      <div class="content-row">
        <div class="font-bold">모집인원 4/5</div>
        <div class="font-gray">마감일: 2024-05-08</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header-row content-padding">
      <div class="header-col">
        <div class="font-bold">웹</div>
        <div class="font-gray">작성일 : 2024-03-05</div>
      </div>
      <div>
        <img src="/img/code/online.png">
      </div>
    </div>

    <div class="content-margin content-col">
      <div class="font-bold">웹 개발 기초를 같이 배워갈 스터디원 모집합니다!!</div>
      <div>
        <img src="/img/tag/java.png">
        <div class="font-gray">#웹</div>
        <div class="font-gray">JunTR</div>
      </div>
      <div class="content-row">
        <div class="font-bold">모집인원 4/5</div>
        <div class="font-gray">마감일: 2024-05-08</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header-row content-padding">
      <div class="header-col">
        <div class="font-bold">웹</div>
        <div class="font-gray">작성일 : 2024-03-05</div>
      </div>
      <div>
        <img src="/img/code/online.png">
      </div>
    </div>

    <div class="content-margin content-col">
      <div class="font-bold">웹 개발 기초를 같이 배워갈 스터디원 모집합니다!!</div>
      <div>
        <img src="/img/tag/java.png">
        <div class="font-gray">#웹</div>
        <div class="font-gray">JunTR</div>
      </div>
      <div class="content-row">
        <div class="font-bold">모집인원 4/5</div>
        <div class="font-gray">마감일: 2024-05-08</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header-row content-padding">
      <div class="header-col">
        <div class="font-bold">웹</div>
        <div class="font-gray">작성일 : 2024-03-05</div>
      </div>
      <div>
        <img src="/img/code/online.png">
      </div>
    </div>

    <div class="content-margin content-col">
      <div class="font-bold">웹 개발 기초를 같이 배워갈 스터디원 모집합니다!!</div>
      <div>
        <img src="/img/tag/java.png">
        <div class="font-gray">#웹</div>
        <div class="font-gray">JunTR</div>
      </div>
      <div class="content-row">
        <div class="font-bold">모집인원 4/5</div>
        <div class="font-gray">마감일: 2024-05-08</div>
      </div>
    </div>
  </div>

</div>

</div>

</body>
</html>