<!--<div data-th-replace="header::header">머리말</div>-->
<!--<div data-th-replace="home/rtp_study::rtp_study">실시간 인기 스터디</div>-->
<!--<div data-th-replace="home/nearby_study::nearby_study">내 주변 스터디</div>-->
<!--<div data-th-replace="home/rtp_wiki::rtp_wiki">실시간 인기 글</div>-->
<!--<div data-th-replace="footer::footer">꼬리말</div>-->

<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>모두의스터디</title>
</head>
<body>
<script>
  window.location.href = '/study/main';
</script>
</body>
</html>