<div data-th-replace="header::header">머리말</div>

<style>
  .HomeTab_left, .HomeTab_left .HomeTab_tab {
    display: flex;
    position: relative;
  }

  .HomeTab_left .HomeTab_tab a.HomeTab_active {
    color: #212529;
    font-weight: 700;
  }

  .HomeTab_left .HomeTab_tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    color: #868e96;
  }

  .responsive_mainHeaderResponsive {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
  }

  .HomeTab_wrapper {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .HomeTab_left, .HomeTab_left__o1RQE .HomeTab_tab {
    display: flex;
    position: relative;
  }

  .HomeTab_left {
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .HomeTab_left .HomeTab_tab a svg {
    font-size: 24px;
    margin-right: 8px;
  }

  .HomeTab_left .HomeTab_tab a + a {
    margin-left: 20px;
  }

  .HomeTab_left .HomeTab_tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    color: #868e96;
  }

  .HomeTab_left .HomeTab_tab .HomeTab_indicator {
    position: absolute;
    width: 44%;
    height: 2px;
    background: #343a40;
    bottom: -10px;
  }

  .HomeTab_right {
    position: relative;
    display: flex;
  }

  .HomeTab_right .HomeTab_selector {
    background: #fff;
    height: 32px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    font-weight: 600;
    color: #495057;
    font-size: 14px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  .HomeTab_right .HomeTab_selector svg {
    width: 24px;
    height: 24px;
  }

  .HomeTab_right .HomeTab_extra {
    margin-top: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #868e96
  }

  /* 검색 */
  .search_container {
    display: flex;
    width: 300px;
    height: 38px;
    padding: 0 20px;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    border-radius: 36px;
    background: #ffffff;
    position: relative;
    box-shadow: 10px 5px 5px rgb(165 23 23 / 5%);
  }

  .search_searchImg {
    display: block;
    width: 18px;
    height: 18px;
  }

  .search_searchInput {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
  }

  .search_searchInitialize {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .total-count-container {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    margin-right: 20px;
  }
</style>
<div class="content-container page-margin wrapper-mos">
  <h1>스터디 모집 목록</h1>

  <div class="HomeTab_wrapper responsive_mainHeaderResponsive sticky">
    <nav class="HomeTab_left">
      <div class="HomeTab_tab">

        <!--  트렌딩   -->
        <a class="HomeTab_active" href="" data-flag="trending">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
               height="1em"
               width="1em"
               xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
                d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"></path>
          </svg>
          <span>트렌딩</span>
        </a>

        <!--  최신   -->
        <a class="" href="" data-flag="recent">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
               height="1em"
               width="1em"
               xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
          </svg>
          <span>최신</span>
        </a>

        <!--    3%,     38.33%,     70.33%        -->
        <div class="HomeTab_indicator" style="left: 2%;"></div>
      </div>
    </nav>

    <div class="HomeTab_right">
      <div id="totalCountContainer" class="total-count-container">
        총 갯수 : <span id="totalCount">0</span>
      </div>
      <div class="search_container">
        <img class="search_searchImg" src="/img/search.png" alt="search icon">
        <input placeholder="제목, 글 내용을 검색해보세요." class="search_searchInput" value="">
        <img class="search_searchInitialize" src="/img/search-close-icon.png" alt="검색 내용 초기화"
             style="display: none">
      </div>
    </div>

  </div>
  <div class="HomeLayout_block">
    <div class="HomeLayout_innerBlock">
      <div class="HomeLayout_mainWrapper">
        <ul class="PostCardGrid_block grid_homeGrid">

        </ul>
      </div>
    </div>
  </div>

</div>
<div class="loader"></div>

<script src="/js/util/url-validator.js"></script>
<script type="module" src="/js/study/index.js"></script>
<div data-th-replace="footer::footer">꼬리말</div>

