<div id="sidenav" class="sidenav" data-th-fragment="sidenav">
  <a data-th-href="@{'/member/dashboard?no=' + ${session.loginUser.memberNo}}" href="">대시보드</a>
  <div data-th-if="${session.loginUser != null}">
    <a data-th-href="@{/member/mystudy?no={no}(no=${session.loginUser.memberNo}, page=1)}" href="">My 스터디</a>
    <a data-th-href="@{/member/edit}" href="">회원 정보 수정</a>
    <div class="dropdown">
      <a data-th-href="@{/member/myWikiList?no={no}(no=${session.loginUser.memberNo}, page=1)}" href="">MY 위키 글/댓글 보기</a>
      <div class="dropdown-content">
        <a data-th-href="@{/member/myWikiList?no={no}(no=${session.loginUser.memberNo}, page=1)}" href="">MY 위키 글</a>
        <a data-th-href="@{/member/myStudyCommentList?no={no}(no=${session.loginUser.memberNo}, page=1)}" href="">스터디 MY 댓글</a>
        <a data-th-href="@{/member/myWikiCommentList?no={no}(no=${session.loginUser.memberNo}, page=1)}" href="">위키 MY 댓글</a>
      </div>
    </div>
  </div>
</div>