<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>모두의스터디</title>
  <link rel="stylesheet" href="/css/auth/styles.css">
</head>
<body>
<h2>서버에서 보내는 메시지</h2>
<ul id="messages"></ul>
<script>
  const eventSource = new EventSource("/notification");
  eventSource.onmessage = function(event) {
      const message = JSON.parse(event.data);
      const node = document.createElement("LI");
      const textnode = document.createTextNode(message);
      node.appendChild(textnode);
      document.getElementById("messages").appendChild(node);
  };
</script>
</body>
</html>
